@import 'styles/_mixins';

.comparison-heading--heading {
  margin-bottom: 0;
  line-height: 1.3;
}

.comparison-heading--subheading {
  display: flex;
  margin-top: 3px;
}

.comparison-heading--description {
  margin: 0;
  color: $shade-50;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison-heading--links {
  display: flex;
  a {
    color: $shade-50;
    font-size: 24px;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    justify-content: center;
    &:hover {
      text-decoration: none;
    }
    &.link-icon-npm {
      font-size: 28px;
      &:hover {
        color: #fb3e44;
      }
    }
    &.link-icon-github:hover {
      color: #24292d;
    }
    &.link-icon-website:hover {
      color: #20b57a;
    }
  }
}

.comparison-heading--divider {
  border-left: 1px solid $shade-20;
  margin: 3px 18px;
}
