@import 'styles/_mixins.scss';

.package-details-popover {
  padding: 5px;
}

.package-details-popover--name {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
}

.package-details-popover--description {
  font-size: 0.8em;
  color: $shade-50;
  line-height: 1.2;
  margin-top: 5px;
}

.package-details-popover--stats {
  display: flex;
  font-size: 12px;
  margin-top: 10px;

  > div + div {
    margin-left: 20px;
  }
}

.package-details-popover--stars {
}

.package-details-popover--weekly-downloads {
}
