@import 'mixins';

/****** Header ******/

header{
	padding: 20px 0;
}

#site_heading{
	color: $dark;
	&:hover{
		color: $dark;
	}
}

.site-logo{
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

.site-logo--name{
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	font-weight: 200;
	margin-top: -3px;
}
