@import 'mixins';

/****** Layout ******/
body{
	background-color: #ffffff;
	font-family: 'helvetica neue', arial, sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	color: $dark;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}

@include sm-screen{
	.container{
		padding: 0 15px;
	}
}

/****** General Styles ******/

h1, h2, h3, h4, h5, h6{
	font-family: 'helvetica neue', arial, sans-serif;
	color: $dark;
	font-weight: 200;
	letter-spacing: 2px;
}

h1{
	text-align: center;
	font-family: 'helvetica neue', arial, sans-serif;
	color: #000000;
	font-weight: 200;
	letter-spacing: 10px;
	font-size: 36px;
}

h2{
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}

p{
	font-size: 16px;
}

a{
	color: #0074d9;
	text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/****** Lists ******/

.list-unstyled{
	list-style-type: none;
	padding: 0;
}

.inline{
	display: inline-block;
	vertical-align: top;
}




