@import 'styles/_mixins';

.comparison-heading--heading {
  margin-bottom: 0;
  line-height: 1.3;
}

.comparison-heading--subheading {
  display: flex;
  margin-top: 3px;
}

.comparison-heading--description {
  margin: 0;
  color: $shade-50;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison-heading--links {
  display: flex;
  font-size: 24px;
  a {
    color: $shade-50;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    justify-content: center;
  }
}

.comparison-heading--divider {
  border-left: 1px solid $shade-20;
  margin: 3px 18px;
}
