
.email-signup {
  margin-top: 64px;
}

.email-signup .control {
  font-size: 14px;
  display: flex;
}

.email-signup-input {
  appearance: none;
  border: 2px solid #efefef;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  max-width: 45ch;
}

.email-signup-button {
  appearance: none;
  border: none;
  background-color: #0074d9;
  color: white;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
  left: -2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.email-signup-subtext {
  font-size: 12px;
  letter-spacing: normal;
}

.bytes-logo-small {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 15px;
  left: 10px;

}