@import 'styles/_mixins';

/****** Package Stats ******/

.package-stats {
  margin-bottom: 40px;
}

.badge--in-table {
  display: block;
  border-radius: 3px;
}

.stats-row--color {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.stats-column-heading--button {
  all: unset;
  cursor: pointer;
}
