@import 'styles/_mixins';

/****** Table ******/

table {
  margin-top: 10px;
  color: #000000;
  width: 100%;
}

thead {
  border-bottom: 2px solid $border;
}

th {
  text-align: left;
  padding: 0 15px;
  vertical-align: middle;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
}

tr {
  border-bottom: 1px solid $border;
}

td {
  font-size: 16px;
  padding: 0 15px;
  height: 50px;
  vertical-align: middle;
  &:first-child {
    padding: 0 0 0 25px;
  }
}

.name-header {
  font-size: 18px;
  font-weight: 400;
}

@include sm-screen {
  .table-container {
    overflow-y: scroll;
  }
}
