@import "bootstrap";

/****** Layout ******/
body{
	background-color: #000000;
	font-family: 'helvetica neue', arial, sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
.container{
	max-width: 940px;
}

@media (min-width: 481px) {
  .container {
    margin-top: 40px;
  }
}

/****** General Styles ******/

h1, h2, h3, h4, h5, h6{
	font-family: 'helvetica neue', arial, sans-serif;
	color: #dddddd;
	font-weight: 100;
	letter-spacing: 2px;
}

h1{
	text-align: center;
	font-family: 'helvetica neue', arial, sans-serif;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 36px;
}

h2{
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}


/****** Form ******/

#search_form{
	margin-top: 60px;
	#search_form_input{
		width: 100%;
		border: 1px solid #ffffff;
		background-color: transparent;
		line-height: 2;
		padding: 0 20px;
		border-radius: 3px;
		font-family: 'helvetica neue', arial, sans-serif;
		font-weight: 200;
		color: #ffffff;
		font-size: 20px;
		&:focus{
			border-color: rgb(255,170,0);
		};
	}
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  border-top: none;
  border-bottom: 1px solid rgb(255,170,0);
  border-radius: 0 0 3px 3px;
}
.autocomplete-name{
	font-size: 18px;
}
.autocomplete-description{
	font-size: 14px;
	padding-left: 10px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 8px 20px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: rgba(255,255,255,.05);
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/****** Search Tags ******/

.package-search-tags{
	margin-top: 20px;
	.package-search-tag{
		display: inline-block;
		padding: 5px 10px;
		margin-right: 10px;
		cursor: pointer;
		border-radius: 3px;
		color: #eeeeee;
		.search-tag-name{
			font-size: 18px;
		}
		.glyphicon{
			font-size: 14px;
			color: rgba(255,255,255,.2);
			margin-left: 8px;
		}
		&:hover{
			.glyphicon{
				color: #ffffff;
			}
		}
	}
}


/****** Charts ******/

.chart-heading-select{
	font-family: 'helvetica neue', arial, sans-serif;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 24px;
	background-color: transparent;
	border: 1px solid #ffffff;
	border-width: 0 0 1px 0;
	margin-left: 10px;
	border-radius: 0;
	padding: 2px 26px 2px 6px;
	line-height: 1.2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	option{
		background-color: #ffffff;
		color: #000000;
	}
	&:focus{
		border-width: 0 0 1px 0;
		border-color: #c32aff;
		outline: none;
	}
}

.select-container{
	position: relative;
	&::before{
		content: "\e259";
		font-family: 'Glyphicons Halflings';
		font-size: 12px;
		width: 0;
		height: 0;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -4px;
		color: #ffffff;		
		-moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
	}
}

#download_chart{
	width: 100%;
	height: 400px;
}


/****** Table ******/

.table{
	margin-top: 40px;
	color: #ffffff;
}





