@import 'styles/_mixins.scss';

.popover {
  padding: 5px;
}

.popover__name {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
}

.popover__description {
  font-size: 0.8em;
  color: $shade-50;
  line-height: 1.2;
  margin-top: 5px;
}

.popover__stats {
  display: flex;
  font-size: 12px;
  margin-top: 10px;

  > div + div {
    margin-left: 20px;
  }
}

.popover__stars {
}

.popover__weekly_downloads {
}
