/****** mixins, variables, etc. ******/

$dark: #2B2B2C;
$light: #BAB9BF;

$shade-20: #D2D2D8;
$shade-50: #8D8C92;

$border: #e2e2e2;
$borderLight: #efefef;

@mixin lg-screen {
	@media screen and (max-width: 1199px){
		@content;
	}
}

@mixin md-screen {
	@media screen and (max-width: 991px){
		@content;
	}
}

@mixin sm-screen {
	@media screen and (max-width: 767px){
		@content;
	}
}

@mixin xs-screen {
	@media screen and (max-width: 479px){
		@content;
	}
}
