/****** mixins, variables, etc. ******/

$dark: #2b2b2c;
$light: #bab9bf;

$shade-20: #d2d2d8;
$shade-50: #8d8c92;

$border: #e2e2e2;
$borderLight: #efefef;

@mixin lg-screen {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin md-screen {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin xs-screen {
  @media screen and (max-width: 479px) {
    @content;
  }
}
