@import 'styles/_mixins.scss';

@import 'styles/components/_chart.scss';
@import 'styles/components/_comparison_heading.scss';
@import 'styles/components/_footer.scss';
@import 'styles/components/_header.scss';
@import 'styles/components/_package_stats.scss';
@import 'styles/components/_search.scss';
@import 'styles/components/_general.scss';
@import 'styles/components/_suggestions.scss';
@import 'styles/components/_table.scss';

@import 'styles/plugins/_react-tiny-popover.scss';
@import 'styles/plugins/_react-toastify.scss';
